/*
**
*/

@mixin wa-flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin wa-flex-align($hz-center:initial, $vl-center:initial) {
  align-items: $vl-center;
  justify-content: $hz-center;
}
